.svg-tspan-highlight {
  fill: var(--md-typeset-mark-color);
  fill-opacity: 1;
}

.grid.cards:has(.custom-bg) {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
  grid-gap: .2rem !important;

  svg {
    --flood-color: var(--renesas-secondary-color-fg-black);
    --flood-color-2: var(--renesas-secondary-color-fg-grey);
    transition: --flood-color 0.3s ease;
  }
}

.grid.cards > ul > li {
  padding: .3rem !important;
  cursor: pointer;
  border-radius: 0.3rem !important;
  background-color: white;
  transition: border .25s, box-shadow .25s, transform .25s, z-index .1s !important;
}

.grid.cards > ul > li:hover {
  transform: scale(1.05);
  border-radius: 0.13em;
  z-index: 1 !important;

  svg {
     --flood-color: var(--renesas-primary-color-fg-blue);
     --flood-color-2: var(--renesas-secondary-color-fg-blue-sky);
  }
}

.grid.cards > ul > li .custom-bg {
  height: 13.5em;
  border-radius: 0.2rem;

  a {
    margin: 0;
    height: 4.1em;
    display: block;
  }

  p {
    margin: 0 !important;
  }

  .banner-tags-area {
    white-space: nowrap;
    font-size: 85%;

    span:after {
      font-size: 90%;
    }
  }

  .banner-description-area {
    min-height: 5.5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 80%;
  }

  .banner-sub-description-area {
    font-size: 60%;
    color: var(--renesas-secondary-color-fg-grey);
    font-style: italic;
  }

  .banner-support-area {
    font-size: 80%;
  }
}
